body{
    margin : 0 50px 0 50px;
    font-family : Arial;
    background-color : #ccc;
}

article{
    text-align: justify;
    background-color : #fff;
    padding : 10px 50px 50px 50px;
    margin : auto;
    max-width : 750px;
    box-shadow : 0 0 10px 10px #aaa;
}

section{
    margin-bottom : 35px;
}

q{
    background-color: #ddd;
    display : block;
    padding: 5px 10px;
    border-radius : 5px;
    margin : 10px 0 0 50px;
}

.book-title{
    font-style : italic;
}

.quote-label {
    font-style : italic;
    margin-left : 75px;
}

.definition{
    margin-bottom : 35px ;
}

.line-title, .media-title{
    font-weight: bold;
}

.definition p{
    margin : 5px 0;
}

h1{
    font-size: 2em;
}

.problematique{
    font-size : 1.1em;
    font-weight: bold;
}

img{
    display : block;
    margin : auto;
    margin-bottom : 10px;
}

.img-box{
    width : 100%;
    text-align : center;
    font-style: italic;
    margin-top : 25px;
    margin-bottom : 25px;
}

.inline-quote{
    font-style : italic;
}