h1 {
    color:rgb(0, 18, 100);
}

h2 {
    color:rgb(4, 34, 169);
}

h3 {
    color:rgb(2, 39, 207);
}

h4 {
    color:rgb(48, 83, 239);
}

.event {
    font-style: bord;
    background-color: rgb(242, 242, 2);
}

.idea {
    font-style: bord;
    background-color: rgb(80, 151, 243);
}