* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
}

main {
    margin: 0 10em;
    padding: 1em;
    background-color: white;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);;
}

header {
    padding: 1em;
    background-color: #06283D;
}

h1 {
    text-align: center;
    color: #DFF6FF;
}

h2 {
    color: #256D85;
}

h3 {
    color : #47B5FF;
}

h5 {
    font-style : bold;
    font-size : 1em;
    margin: 0 1em;

}

p {
    text-align: justify;
    text-indent: 3%;
}

div {
    text-align: justify;
    padding-bottom : 10px;
}

.note {
    font-style : italic;
    font-size : small;
    margin-top: 0.5px;
}

.quote {
    font-style: italic;
}

ul.menu{
    color: #47B5FF;
}

.spe{
    color: #47B5FF;
}
