html{
background-color:rgb(247, 255, 255)
}
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 5px auto;
    vertical-align:middle;
    text-align: center;
  }

body{
width: 50%;
margin: 5px auto;
margin-top: 1.5em;
margin-bottom: 1.5em;
    padding: 1.5em;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px grey;
}

em{
    text-align: right;
    font-size: 13px;
}

li {
color: rgb(51, 51, 51);
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
letter-spacing: 0.3499999940395355px;
line-height: 24px;
margin-top: 4px;
}

a {
color: #337ab7;
text-decoration:none;
word-wrap: break-word;
}

p {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
letter-spacing: 0.3499999940395355px;
line-height: 24px;
margin-top: 0px;
}

blockquote {
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
box-sizing: border-box;
color: rgba(119, 119, 119, 0.9);
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 17.5px;
letter-spacing: 0.3499999940395355px;
line-height: 26.25px;
margin-block-end: 16px;
margin-block-start: 0px;
margin-bottom: 16px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 17.5px;
padding-right: 17.5px;
padding-top: 0px;
text-shadow: rgba(0, 0, 0, 0) 0px 0px 14px, rgba(0, 0, 0, 0.004) 1px 1px 1.2000000476837158px;
word-wrap: break-word;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color:inherit
}

.h1, .h2, .h3, h1, h2, h3 {
margin-top: 20px;
margin-bottom:10px
}

.h4, .h5, .h6, h4, h5, h6 {
margin-top: 10px;
margin-bottom:10px
}

.h1, h1 {
/* font-size:36px; */
-webkit-font-smoothing: subpixel-antialiased;
border-bottom-color: rgb(238, 238, 238);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 32px;
font-weight: 600;
letter-spacing: 0.3499999940395355px;
line-height: 40px;
margin-block-end: 16px;
margin-block-start: 0px;
margin-bottom: 16px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 9.600000381469727px;
text-shadow: rgba(0, 0, 0, 0) 0px 0px 14px, rgba(0, 0, 0, 0.004) 1px 1px 1.2000000476837158px;
word-wrap: break-word;
}

.h2, h2 {
/* font-size:30px; */
-webkit-font-smoothing: subpixel-antialiased;
border-bottom-color: rgb(238, 238, 238);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 24px;
font-weight: 600;
letter-spacing: 0.3499999940395355px;
line-height: 30px;
margin-block-end: 16px;
margin-block-start: 24px;
margin-bottom: 16px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-top: 24px;
padding-bottom: 7.199999809265137px;
text-shadow: rgba(0, 0, 0, 0) 0px 0px 14px, rgba(0, 0, 0, 0.004) 1px 1px 1.2000000476837158px;
word-wrap: break-word;
}

.h3, h3 {
font-size:24px
}

.h4, h4 {
font-size:18px
}

